@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0 auto;
  width: auto;
}

.inscribite- {
  width: 600px;
  height: 630px;
  padding: 8px 8px 8px 8px;
  background: #FAFAFA;
  border-radius: 6px 6px 6px 6px;
}
.inscribite- .ins-cuadrado {
  width: 530px;
  height: 50px;
  padding: 8px 8px 8px 8px;
  background: #FAFAFA;
  border-radius: 6px 6px 6px 6px;
}

.maps {
  width: 100%;
}

html body {
  font-family: "Poppins", sans-serif;
}
html body header .navbar .navbar-brand .container-fluid .collapse .navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  width: 610px;
  height: 60px;
  text-align: center;
}
html body header .navbar .navbar-brand .container-fluid .collapse .navbar-nav .nav-item {
  padding: 10px;
}
html body header .navbar .navbar-brand .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

footer {
  background-color: #76faff;
  text-align: center;
}

main {
  background-color: #ffffff;
}
main .fotos-main {
  background-image: url(../assets/portada-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  text-align: center;
  width: 100%;
  opacity: 75%;
}
main .fotos-main .hero__title {
  color: #D9A79C;
  text-shadow: 1px 1px 1px #000;
  font-size: 2.5rem;
}
main .fotos-main p {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
main .fotos-main .button-13 {
  width: 256px;
  height: 82px;
  padding: 0px 10px 0px 10px;
  background: #FFFFFF;
  color: #5A5A5A;
  border: 2px solid white;
  border-radius: 24px 24px 24px 24px;
  text-align: center;
  text-decoration: none;
}
main .img-nos {
  background-image: url(../assets/imagen-sobre-nosotros-fondo.jpg);
  height: 30rem;
  color: white;
  text-align: center;
}

.contenedorgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 45rem;
  grid-template-areas: "colm1 colm2 colm3";
}

.colm1 {
  grid-area: colm1;
  background-image: url(../assets/carrera-de-pasteleria.jpg);
}

.colm2 {
  grid-area: colm2;
  background-image: url(../assets/carrera-de-sommelier.jpg);
}

.colm3 {
  grid-area: colm3;
  background-image: url(../assets/carrera-de-bartender.jpg);
}

.contenedorgrid div {
  width: 86%;
  background-repeat: no-repeat;
  background-position: center;
  height: 70%;
  text-align: center;
  opacity: 70%;
}

.colm1 img {
  width: 80%;
  opacity: 70%;
}

.colm2 img {
  width: 80%;
  opacity: 70%;
}

.colm3 img {
  width: 80%;
  opacity: 70%;
}

.button-13 {
  width: 256px;
  height: 82px;
  padding: 0px 10px 0px 10px;
  background: #FFFFFF;
  color: #5A5A5A;
  border: 2px solid white;
  border-radius: 24px 24px 24px 24px;
  text-align: center;
  text-decoration: none;
}

.inscribite- {
  width: 600px;
  height: 630px;
  padding: 8px 8px 8px 8px;
  background: #FAFAFA;
  border-radius: 6px 6px 6px 6px;
}
.inscribite- .ins-cuadrado {
  width: 530px;
  height: 50px;
  padding: 8px 8px 8px 8px;
  background: #FAFAFA;
  border-radius: 6px 6px 6px 6px;
}

.maps {
  width: 100%;
}

.cent-egresados {
  text-align: center;
}
.cent-egresados .egresados img {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 300px;
}

.cent-cursos {
  text-align: center;
}
.cent-cursos p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.cent-cursos .img-cursos {
  justify-content: center;
  align-items: center;
  display: flex;
}

.img-main-nos {
  background-image: url(../assets/imagen-sobre-nosotros-fondo.jpg);
  height: 50rem;
  color: rgb(255, 255, 255);
  opacity: 87%;
  text-align: center;
}
.img-main-nos .h1-nos {
  font-size: 4rem;
}
.img-main-nos .sobnosotros {
  text-shadow: 0px 0px 3px black;
}

/*---------------------------------------- mobil ----------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    height: 10rem;
  }
  .contenedorgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "colm1" "colm2" "colm3";
  }
  .fotos-main {
    font-size: 1rem;
  }
  .alin-let p {
    font-size: 0.5rem;
  }
  .colm2 {
    grid-area: colm2;
    background-image: url(../assets/carrera-de-sommelier-recortar.jpg);
  }
  .img-cursos {
    width: 20rem;
  }
  .img-carreras {
    width: 20rem;
  }
  .egresados {
    width: 20rem;
  }
}
/*---------------------------------------- tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .img-cursos {
    width: 45rem;
  }
  .img-carreras {
    width: 45rem;
  }
  .egresados {
    width: 30rem;
  }
}/*# sourceMappingURL=styles.css.map */