
/*---------------------------------------- mobil ----------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 767px){

    body {
        height: 10rem;
    }
    .contenedorgrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "colm1"
        "colm2"
        "colm3"
        ;
    }


    .fotos-main {
        font-size: 1rem;
    }

    .alin-let p {
        font-size: 0.5rem;
    }

    .colm2 {
        grid-area: colm2;
        background-image: url(../assets/carrera-de-sommelier-recortar.jpg);
    }


    .letra-nos {
        font-size: 0.5rem;
    }


    .cent-cursos {
        text-align: center;
        img {
            width: 300px;
        }
    }
    .cent-egresados {
        text-align: center;
        img {
            width: 300px;
        }
    }
    .inscribite- {
        width: 300px;
        height: 630px;
        padding: 8px 8px 8px 8px;
        background: #FAFAFA;
        border-radius: 6px 6px 6px 6px;
        .ins-cuadrado {
            width: 230px;
            height: 40px;
            padding: 8px 8px 8px 8px;
            background: #FAFAFA;
            border-radius: 6px 6px 6px 6px;
            
        }
    }
    .maps{
        width: 100%;
    }
    main {
        .cent-carreras {
            text-align: center;
            img {
                width: 300px;
            }
        }
    }
}
/*---------------------------------------- tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px){

    .img-cursos {
        width: 45rem;
    }
    .cent-carreras {
        text-align: center;
        img {
            width: 200px;
        }
    }
    .egresados {
        width: 30rem;
    }

}
