.img-main-nos {
    background-image: url(../assets/imagen-sobre-nosotros-fondo.jpg);
    height: 50rem;
    color: rgb(255, 255, 255);
    opacity: 87%;
    text-align: center;
    .h1-nos {
        font-size: 4rem;
    }
    .sobnosotros {
        text-shadow: 0px 0px 3px black;
    }
}